*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 1000px;
    background-color: #E2EAF3;
}
.menu-bar {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: #F8D8EB;
    

}

.logo a {
    /* width: 20%;
    height: 100%; */
    font-size: 20px;
    color: #F15353;
    float: right;
    margin-top: 55px;
    margin-left: 20px;
    transition: 0.3s ease;
    text-decoration: none;

}
.logo a:hover{
    transform: scale(1.1);
    border-bottom: 2px solid red;
    color: red;
}

.menu {

    width: 80%;
    height: auto;
    display: block;
    text-decoration: none;

}

.menu ul {
    list-style-type: none;
    float: right;

}

.menu ul li {
    float: left;
    justify-content: center;
    margin-left: 100px;
    margin-top: 55px;

}

.menu ul li a {
    display: block;
    justify-content: none;
    margin-right: 50px;
    padding: 3px;
    color: black;
    font-size: 20px;
    font-weight: 25px;
    float: left;
    text-decoration: none;
    /* transition: 0.3s ease; */
 
}
.menu ul li a:hover{
    border-bottom: 2px solid red;
    color: red;
}
.menu1 h1{
    padding-left: 20px;
    margin-top: 30px;
    font-size: 3rem;
}
.menu1 p{
    padding-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.menu2 h1{
    padding-left: 20px;
    margin-top: 30px;
    font-size: 3rem;
}
.menu2 p{
    padding-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.menu3 h1{
    padding-left: 20px;
    margin-top: 30px;
    font-size: 3rem;
}
.menu3 p{
    padding-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}
.image{
    width: 20%;
    height: 50%;
    background-color: blue;
    position: absolute;
    left: 40%;
    bottom: 30%;
}
.image img{
    width: 100%;
    height: 100%;
}
.image2{
    width: 30%;
    height: 50%;
    /* background-color: blue; */
    position: absolute;
    left: 65%;
    bottom: 30%;
}
.image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tools h1{
    margin-left: 50%;
}
.box{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-left: 10px;
    gap: 2rem;
}
.figma{
    width: 200px;
    height: 150px;
    /* background-color: #F15353; */
    margin-left: 70px;
}
.figma img{
    width: 100%;
    height: 100%;
}
